/* Layout
---------------------------------------- */
BODY
{
    padding: 0 2.625em;
}

.shmakowiki
{
    width: 40em;
    max-width: 100%;
    margin: 0 auto;
}

/* Line-height 1.4 as a base for vertical rhythm */
.shmakowiki
{
    font: 1em/1.4em "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Compensating line-height in links */
.shmakowiki A:link,
.shmakowiki A:visited
{
    padding: 0.2em 0;
}

/* Margin for elements */ /**/
.shmakowiki P,
.shmakowiki UL,
.shmakowiki OL,
.shmakowiki DL,
.shmakowiki BLOCKQUOTE,
.shmakowiki HR,
.shmakowiki CODE,
.shmakowiki PRE,
.shmakowiki TABLE
{
    margin-top: 0;
    margin-bottom: 1.4em;
}

/* Half of the margin in lists (and extras for good browsers) */
.shmakowiki LI,
.shmakowiki LI>P
{
    margin-top: 0;
    margin-bottom: 0.7em;
}

/* Magic for headers (rhythm, fonts, lalala)*/
.shmakowiki H1
{
    font: 2.25em/1.2444em Helvetica, "Helvetica Neue", Arial, sans-serif;
    
    margin: 0.3111em 0;
}

.shmakowiki H2
{
    font: 1.5em/1.4em Helvetica, "Helvetica Neue", Arial, sans-serif;
    
    margin: 0.4666em 0;
}

.shmakowiki H3
{
    font: 1.3125em/1.0666em Helvetica, "Helvetica Neue", Arial, sans-serif;
    
    margin: 0.5333em 0;
}

.shmakowiki H4,
.shmakowiki H5,
.shmakowiki H6
{
    font: 1.125em/1.2444em Helvetica, "Helvetica Neue", Arial, sans-serif;
    
    margin: 0.6222em 0;
}

/* Blockquotes */ /**/
.shmakowiki BLOCKQUOTE
{
    border-left: 0.2em solid #AAA;
    border-color: rgba(0,0,0,0.33);
    margin-left: 1.2em;
    padding: 0 0.7em;

    background: #F5F5F5;
    background: rgba(0,0,0,0.04);
}

.shmakowiki BLOCKQUOTE BLOCKQUOTE
{
    margin-left: 0.5em;
}

/* Code with monospace font stack */ /**/
.shmakowiki CODE,
.shmakowiki KBD,
.shmakowiki PRE,
.shmakowiki SAMP,
.shmakowiki TT,
.shmakowiki VAR
{
    font: 0.9333em/1.5em Consolas, "Lucida Console", "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.shmakowiki PRE CODE
{
    font-size: 0.75em;
}

/* Tables */ /**/
.shmakowiki TABLE
{
    border: 1px solid #CCC;
    border-color: rgba(0,0,0,0.2);
}

.shmakowiki TH,
.shmakowiki TD
{
    padding: 0 0.7em;

    text-align: left;
}

/* Original shmakowiki visual styles there */

.shmakowiki h1 {

    color: #339900;

}

.shmakowiki h2
{

    color: #0066CC;

}

.ohl
{
    display: inline-block;
    
    background-color: #eee;
    padding: 0.5em;
    border: #aaa 1px dotted;
    color: #0a192c;
}

.ohl-keyword
{
    color: #29528c;
}

.ohl-name
{
    color: #0a192c;
}

.ohl-literal
{
    color: #89335f;
}

.ohl-string
{
    color: #683874;
}

.ohl-string .ohl-punctuation
{
    color: #896994;
}

.ohl-string-escape
{
    color: #a53868;
}

.ohl-string-regex
{
    color: #652b65;
}

.ohl-number
{
    color: #652b65;
}

.ohl-operator
{
    color: #3862a1;
}

.ohl-punctuation
{
    color: #4d6e9f;
}

.ohl-comment
{
    color: #449b94;
}

.ohl-comment .ohl-punctuation
{
    color: #5c9995;
}

.ohl-generic
{
}
