.b-text__h1,
.b-text__h2,
.b-text__h3
{
    font-size: 1.8em;
    font-weight: normal;

    margin: 1.5em 0 0.7em 0;
    padding: 0;
}

.b-text__h3
{
    font-size: 1.6em;

    margin: 1em 0 0.5em 0;
}

.b-text__h4
{
    font-size: 1.4em;
    font-weight: 400;

    margin: 0.6em 0 0.5em 0;
    padding: 0;
}

.b-text__p
{
    margin: 0 0 0.8em;

    line-height: 1.4em;
}

.b-text__pre,
.b-text__tt
{
    font: 100% Monaco, Consolas, "Courier New", monospace;
}

.b-text__pre
{
    margin: 0 0 0.8em;
}

.b-text__ul,
.b-text__ol
{
    margin: 0 0 1em;
    padding: 0;
}

.b-text__li
{
    margin: 0 0.2em 0.3em 2.5em;
    padding: 0;
}

.b-text__ol .b-text__li
{
    list-style: decimal;
}

.b-text__ul .b-text__li
{
    list-style: disc;
}

